{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static '/core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soy un estudiante de Tecnologías de la Información comprometido con aprender y desarrollar habilidades en soporte técnico, redes y soluciones informáticas. Mi enfoque no se limita únicamente a resolver problemas, sino también a brindar una atención clara, responsable y respetuosa a quienes requieren apoyo, ya sean compañeros, docentes o proyectos académicos. </p>
        <br>
        <p>Busco que cada práctica y proyecto que realizo esté basado en escalabilidad, fiabilidad y seguridad, porque considero que estos elementos son fundamentales para ofrecer soluciones eficientes y profesionales. Me esfuerzo por mejorar constantemente, analizar cada situación y proponer alternativas que aporten valor dentro del ámbito tecnológico</p>
        <br>
        <br>
        <p><b>Teléfono:</b> +52 729 314 9878</p>
        <p><b>Honorarios:</b> $2,000 (precio base)</p>
    </div>
</div>
{% endblock %}

